//color
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$gray-color-light-1: #f7f7f7;
$white-color: #fff;
$gray-color: #777;
$black-color: #000;


//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
